
/*---------gmail,images--------*/
#top{
    display: flex;
    margin: 2em;
    border: 1em;
    justify-content: flex-end;

}

#space{
    color: #fff;
}

/*---------google logo, serach bar-------*/

/*
#mid{
    padding-bottom: 25em;
    align-items: center;
}
*/

#mid_father{
display:flex;
margin-left: 30em;
margin-right: 20em;
padding-bottom: 23em;
}

#search{
    width: 100%;
    align-self: center;
}

.button{
    padding-top: 2em;
    margin-top:2em;
    margin-left:5em;

}

#low2{
    display: flex;
    align-self: baseline;
    justify-content: space-between;
    background-color: rgb(199, 199, 199);
}

/*
#top div{
    flex-direction: row; esta linea estaba comentada
    align-items: flex-end;
}

p{
    width: 10%;
    flex-direction: row;
    margin: 1em;

}

*/